body {
    margin: 0;
    padding: 0;
    background-image: url(image.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.form-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    font-weight: bold;
    color: white;
}

.form-area p {
    color: white;
}

.form-area input, select {
    width: 100%;
    margin-bottom: 20px;
}

.form-area input[type=text], .form-area input[type=username], .form-area input[type=password] {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    height: 20px;
    color: white;
    display: 16px;
}

::placeholder {
    color: white;
}

.form-area select {
    height: 25px;
}

.form-area input[type=submit] {
    border: none;
    height: 23px;
    color: white;
    outline: none;
    font-size: 15px;
    background-color: tomato;
    border-radius: 20px;
    cursor: pointer;
}

.form-area input[type=submit]:hover {
    background-color: bisque;
    color: black;
}

.form-area a {
    color: white;
    text-decoration: none;
}